body {
    background-size:100%;
    background-repeat:no-repeat;
    background-attachment:fixed;
    }

.center {
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 50%;
    }

titlefont {
    color:white;
    font-size:40px;
    font-family: Arial;
    }

div.a {
    position:fixed;
    }

h2 {
    color:white;
    }

p {
    color:white;
    }

form input[type="text"] {
    width: 25%;
    margin-bottom: 5px;
    border: 2px dotted red;
    border-radius: 5px;
}